body {
	width: 67%;
	margin: 0 auto;
	background-color: #287856;
}

h1 {
	width: 75%;
	margin: 10px auto;
	text-align: center;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#description {
	grid-column: 1 / 3;
	text-align: center;
}

input[type='submit'] {
	display: block;
	grid-column: 1 / 3;
	width: 10%;
	margin: 10px auto;
	text-align: center;
}

#special-instructions-label {
	vertical-align: top;
}
input, #dropdown, textarea {
	grid-column: 2;
	text-align: left;
	margin-left: 10px;
	width: 50%; 
}

input[type='radio'] {
	width: 10px;
}

input[type='checkbox'] {
	width: 10px;
}

label {
	grid-column: 1;
	text-align: right;
	margin-right: 10px;
}

form {
	display: grid;
	grid-template-columns: 50% 50%;
	grid gap: 10px;
	grid-row-gap: 10px;
	background-color: #70AD93;
	width: 100%;
	margin: 10px auto;
}