body {
	width: 50%;
	margin: 0 auto;
	background-color: #287856;
}

h1 {
	text-align: center;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#description {
	text-align: center;
}

.complete_input {
	display: block;
}

input[type='submit'] {
	display: block;
	text-align: center;
	margin: 10px auto;
}

#special-instructions-label {
	vertical-align: top;
}

form {
	background-color: #70AD93;
	width: 75%;
	margin: 10px auto;
	padding: 10px 20%;
	text-align: center;
}